# Misc
*.class
*.log
*.pyc
*.swp
*.lock
*.tmp
*.bak
.DS_Store

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/

# Android
/android/app/debug
/android/app/profile
/android/app/release

# iOS
**/ios/Flutter/.last_build_id

# Firebase / Secrets
.env
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Signing keys (IMPORTANT)
*.jks
*.keystore
key.properties

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json